version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: planqr_db
    restart: always
    network_mode: host
    command: -p 2137
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: planqr_db
    # ports:
    #   - "2137:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: